.nav{
    background-color: rgb(16, 6, 39);
    width: 100%;
    height: 7vh;
    position: sticky;
    z-index: 4;
    padding-top: 15px;
  top: 0;
}
.nav-items,.nav1-items{
    display: flex;
    font-size: large;
    font-weight: 700;
    float:right ;
    gap: 100px;
}

.item{
    display: inline-flex;
    margin-right: 18px;
    cursor: pointer;
    transition: .4s ease-out; 
}
.nav-items a{
    text-decoration: none;
    color: white;
}
a:hover{
    box-shadow:  3px 4px 5px #888888;
    padding: 3px;
    border-radius: 7px;
    transition-delay: .17s;
    background-color: rgb(231, 218, 218);
    color: black;
}

.separator-type, .title-type, .intro-type, .content-type .intro-type p {
    position: relative;
}
.intro-type .container {
    padding: 107px 0px 102px 0px !important;
}
#product-header-section, .intro-type .container {
    padding: 68px 15px 72px !important;
}

.logo{
    border-radius: 35px;
    margin-left: 490px;
}
.container {
    width: 1630px;
}
.company-heading h1 {
    margin-bottom: 40px;
    line-height: 80px;
    color: black;
    font-weight: 700 !important;
    text-align: center;
}
.seo-header, .product-header, .intro-type .container h1.white, .company-heading h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100 !important;
    text-transform: capitalize;
    font-size: 65px;
    margin-bottom: 20px;
}
.company-sections h2,{
    font-weight: 800;
    font-size: 50px;
}
.company-sections h2, .company-sections h3{
    font-family: 'proxima-nova', sans-serif;
}
.company-sections h3 {
    font-size: 25px;
    font-weight: 700;
    margin: 14px 0;
    font-family: 'proxima-nova', sans-serif;
    text-transform: capitalize;
}
.company-icons-white{
    padding: 30px;
    color: black;
}
.story-section{
  margin-top: -150px;
}
.red-border {
    width: 50%;
    border-bottom: 1px solid #d2282e;
    margin: 0 auto;
    height: 16px;
}
.company-sections p {
    margin-top: 20px;
}
.ct-u-size22 {
    font-size: 22px;
}
.ct-u-marginBottom60{
    margin-bottom: 60px;
}
.ct-u-fontWeight300 {
    font-weight: 300;
}
.marginTop40 {
    margin-top: 40px !important;
}
.ct-u-paddingBoth100 {
    padding: 100px 15px;
}
.culture-section {
    background-color: #095c87;
    /* color: #fff; */
}
.company-sections {
    text-align: center;
}
.ct-u-paddingBoth100 {
    padding: 100px 15px;
}
.company-sections h2,{
    font-weight: 800;
    font-size: 50px;
}
.company-sections h2, .company-sections h3,{
    font-family: 'proxima-nova', sans-serif;
}

.fa {
  font-size: 64px;
}
.btn-solodev-red-reversed {
    background-color: #fff;
    color: #d2282e;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 12px 35px;
}
.btn, .btn-blk {
    font-size: 18px !Important;
}

.ct-u-size19 {
 margin-top: 40px; 
}
.customers-section{
    height: 60vh;
    background-color:peachpuff;
}

.ct-u-paddingBottom100 {
  margin-top: 40px;
}
.smallsec{
margin-top: 40px;
}
.culture-section {
  background-size: cover;
  color: #fff;
  font-size: 2.35rem;
}

 .substrate {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    display: block;
    margin-bottom: 70px;
    margin-left: 150px;
    margin-top: 80px;
    padding: 15px 20px;
    position: relative;
    width: 80vw;
    height: 80vh;
}
     .substrate:before {
        bottom: 15px;
        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
        content: "";
        height: 20%;
        left: auto;
        position: absolute;
        right: 5px;
        transform: rotate(3deg);
        width: 80%;
        z-index: -1;
        -webkit-transform: rotate(3deg);
        -moz-transform: rotate(3deg);
        -o-transform: rotate(3deg);
        transform: rotate(3deg);
        -ms-transform: rotate(3deg);
    }

    .right-column .substrate {
        padding-left: 30px;
        width: 440px;
    }
     .substrate h2 {
        font-size:xx-large;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin-bottom: 100px;
        font-weight: 900;
        text-align: center;
    }
     .skills {
        margin: 10px 0 20px;
        list-style: none;
        padding: 0;
    }

         .skills li {
            margin-bottom: 3px;
            height: 50px;
        }

     .skill span {
        float: left;
        width: 100px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 900;
    }

     .skill .b {
        float: left;
        width: 70%;
        margin-left: 10px;
        background: rgba(141,149,167,.2);
        border-radius: 50%;
    }


     .skills .b .eighty {
      border-radius: 50%;

        height: calc(2em);
        background: #2D7FB9;
    }


     .paper-clip {
        width: 60px;
        height: 85px;
        background: url('https://lh5.googleusercontent.com/-_VvJpGXP9N0/UwdDY7l-CQI/AAAAAAAABTI/xXPDe4i5lbQ/s330/paper-clip.png') repeat scroll 0% 0% transparent;
        position: absolute;
        top: -14px;
        right: -13px;
    }

ul {
    list-style: none;
    padding-left: 0;
  }
  footer {
    background-color: #555;
    color: #bbb;
    line-height: 1.5;
  }
  footer a {
    text-decoration: none;
    color: #eee;
  }
  a:hover {
    text-decoration: underline;
  }
  .ft-title {
    color: #fff;
    font-family: "Merriweather", serif;
    font-size: 3rem;
    padding-bottom: 0.625rem;
  }
  /* Sticks footer to bottom */
  

  /* Footer main */
  .ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
    height: 40vh;
  }
  @media only screen and (min-width: 29.8125rem /* 477px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  @media only screen and (min-width: 77.5rem /* 1240px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  .ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
  }
  
  /* Footer main | Newsletter form */
  form {
    display: flex;
    flex-wrap: wrap;
  }
  input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
  }
  input[type="submit"] {
    background-color: #00d188;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
  }
  /* Footer social */
  .ft-social {
    padding: 0 1.875rem 1.25rem;
  }
  .ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
  }
  .ft-social-list li {
    margin: 0.5rem;
    font-size: 2.25rem;
  }
  /* Footer legal */
  .ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: #333;
  }
  .ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
  }
  /* one before the last child */
  .ft-legal-list li:nth-last-child(2) {
      flex: 1;
  }

  ::-webkit-scrollbar {
    width: 9px;
  }
  ::-webkit-scrollbar-track {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	animation: gradient 15s ease infinite;
    border-radius: 100vw;
    margin-block: 7px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(107, 72, 202);
    border-radius: 100vw;
    border: solid 2px hsl(120 5% 0% /1);
  }