body{
  background-color: greenyellow;
  margin: 0;
padding: 0;
}
.nav{
  background-color: rgb(16, 6, 39);
  width: 100%;
  height: 7vh;
  position: sticky;
  z-index: 4;
top: 0;
}
.nav-items,.nav1-items{
  display: flex;
  font-size: large;
  font-weight: 700;
  float:right ;
  gap: 100px;
}

.item{
  display: inline-flex;
  margin-right: 18px;
  cursor: pointer;
  transition: .4s ease-out; 
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  box-shadow:  3px 4px 5px #888888;
  padding: 3px;
  border-radius: 7px;
  transition-delay: .17s;
  background-color: rgb(231, 218, 218);
  color: black;
}
.logoimg{
  border-radius: 35px;
  padding-top:8px;
  margin-top: 70px;

}
.Heading{
  background-color: rgb(39, 29, 61);
  width: 100%;
  height: 45vh;
}
.herohead{
  float: right;

}
.spreadingUnderline{
font-family: 'Abril Fatface', cursive;
font-size:4em;
  color: ivory;
  margin-top: 95px;
  text-align: center;
  margin-right: -120px;
}
.quiz{
  width: 100%;
  color: black;
  margin-top:40px;
  margin-left: 100px;
}
.container{
  margin-top: 100px;
  width: 90%;
  height: 80%;
}
.quiz-time{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}
.quiz-title{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 50px;
}

:root {
--card-height: 40vw;
--card-margin: 4vw;
--card-top-offset: 1em;
--numcards: 4;
--outline-width: 0px;
}

#cards {
padding-bottom: calc(var(--numcards) * var(--card-top-offset)); /* Make place at bottom, as items will slide to that position*/
margin-bottom: var(--card-margin); /* Don't include the --card-margin in padding, as that will affect the scroll-timeline*/
}

#card_1 {
--index: 1;
}

#card_2 {
--index: 2;
}

#card_3 {
--index: 3;
}

#card_4 {
--index: 4;
}

.card {
position: sticky;
top: 100px;
  margin-left: 230px;
padding-top: calc(var(--index) * var(--card-top-offset));
}

@supports (animation-timeline: works) {

@scroll-timeline cards-element-scrolls-in-body {
  source: selector(body);
  scroll-offsets:
    /* Start when the start edge touches the top of the scrollport */
    selector(#cards) start 1,
    /* End when the start edge touches the start of the scrollport */
    selector(#cards) start 0
  ;
  start: selector(#cards) start 1; /* Start when the start edge touches the top of the scrollport */
  end: selector(#cards) start 0; /* End when the start edge touches the start of the scrollport */
  time-range: 4s;
}

.card {
  --index0: calc(var(--index) - 1); /* 0-based index */
  --reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
  --reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */
}

.card__content {
  transform-origin: 50% 0%;
  will-change: transform;

  --duration: calc(var(--reverse-index0) * 1s);
  --delay: calc(var(--index0) * 1s);

  animation: var(--duration) linear scale var(--delay) forwards;
  animation-timeline: cards-element-scrolls-in-body;
}

@keyframes scale {
  to {
    transform:
      scale(calc(
        1.1
        -
        calc(0.1 * var(--reverse-index))
      ));
  }
}
}


/** PAGE STYLING **/

* 
main {
width: 80vw;
  margin-top: -430px;
}

#cards {
list-style: none;
outline: calc(var(--outline-width) * 10) solid blue;

display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(var(--numcards), var(--card-height));
gap: var(--card-margin);
}

.card {
outline: var(--outline-width) solid hotpink;
}

.card__content {
box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
background: rgb(255, 255, 255);
color: rgb(10, 5, 7);
border-radius: 1em;
overflow: hidden;

display: grid;
grid-template-areas: "text img";
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;

align-items: stretch;
outline: var(--outline-width) solid lime;
}

.card__content > div {
grid-area: text;
width: 80%;
place-self: center;
text-align: left;

display: grid;
gap: 1em;
place-items: start;
}

.card__content > figure {
grid-area: img;
overflow: hidden;
}

.card__content > figure > img {
width: 100%;
height: 100%;
object-fit: cover;
}

h1 {
font-weight: 300;
font-size: 3.5em;
}

h2 {
font-weight: 300;
font-size: 2.5em;
}

p {
font-family: sans-serif;
font-weight: 300;
line-height: 1.42;
}

.btn {
background: rgb(188 87 36);
color: rgb(255 255 255);
text-decoration: none;
display: inline-block;
padding: 0.5em;
border-radius: 0.25em;
}

/* Footer*/
ul {
list-style: none;
padding-left: 0;
}
footer {
background-color: #555;
color: #bbb;
line-height: 1.5;
}
footer a {
text-decoration: none;
color: #eee;
}
a:hover {
text-decoration: underline;
}
.ft-title {
color: #fff;
font-family: "Merriweather", serif;
font-size: 1.375rem;
padding-bottom: 0.625rem;
}
/* Sticks footer to bottom */


/* Footer main */
.ft-main {
padding: 1.25rem 1.875rem;
display: flex;
flex-wrap: wrap;
}
@media only screen and (min-width: 29.8125rem /* 477px */) {
.ft-main {
  justify-content: space-evenly;
}
}
@media only screen and (min-width: 77.5rem /* 1240px */) {
.ft-main {
  justify-content: space-evenly;
}
}
.ft-main-item {
padding: 1.25rem;
min-width: 12.5rem;
}

/* Footer main | Newsletter form */
form {
display: flex;
flex-wrap: wrap;
}
input[type="email"] {
border: 0;
padding: 0.625rem;
margin-top: 0.3125rem;
}
input[type="submit"] {
background-color: #00d188;
color: #fff;
cursor: pointer;
border: 0;
padding: 0.625rem 0.9375rem;
margin-top: 0.3125rem;
}
/* Footer social */
.ft-social {
padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
display: flex;
justify-content: center;
border-top: 1px #777 solid;
padding-top: 1.25rem;
}
.ft-social-list li {
margin: 0.5rem;
font-size: 1.25rem;
}
/* Footer legal */
.ft-legal {
padding: 0.9375rem 1.875rem;
background-color: #333;
}
.ft-legal-list {
width: 100%;
display: flex;
flex-wrap: wrap;
}
.ft-legal-list li {
margin: 0.125rem 0.625rem;
white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
  flex: 1;
}

::-webkit-scrollbar {
width: 16px;
}
::-webkit-scrollbar-track {
background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
animation: gradient 15s ease infinite;
border-radius: 100vw;
margin-block: 10px;
}
::-webkit-scrollbar-thumb {
background-color: rgb(107, 72, 202);
border-radius: 100vw;
border: solid 2px hsl(120 5% 0% /1);
}
