body{
    margin: 0;
    padding:0;
    color: cornsilk;
}
.nav{
    background-color: rgb(16, 6, 39);
    width: 100vw;
    height: 7vh;
    position: sticky;
    z-index: 4;
  top: 0;
}
.nav-items{
    display: flex;
    font-size: large;
    font-weight: 700;
    float:right ;
    gap: 100px;
    margin-bottom: -10px;

}
.nav1-items{
  display: flex;
  font-size: large;
  font-weight: 700;
  gap: 100px;
  margin-left: 350px;
}

.item{
    display: inline-flex;
    margin-right: 18px;
    cursor: pointer;
    transition: .4s ease-out; 
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    box-shadow:  3px 4px 5px #888888;
    border-radius: 7px;
    transition-delay: .17s;
    background-color: rgb(231, 218, 218);
    color: black;
}

.logoimg{
    border-radius: 35px;
    padding-top:8px;
    margin-top: 70px;
}
.Heading{
  background-color: rgb(39, 29, 61);
    width: 100vw;
    height: 45vh;

}
.herohead{
    float: center;

}
.spreadingUnderline{
	font-family: 'Abril Fatface', cursive;
	font-size:4em;
    margin-top: 95px;
    text-align: center;
}


.intro2{
    width: 100vw;
    height: 70vh;
background-image: url("https://media.istockphoto.com/vectors/handwritten-typography-lettering-of-lets-go-isolated-on-white-vector-id1214291804?k=20&m=1214291804&s=612x612&w=0&h=GN18U0HhC3p2sOwbD_gld3ZUpkd4qsa2OKHodpxQRGY=");
margin-top: -20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



#categories{
    width: 100vw;
    padding-top: 80px;
    height: 120vh;
background-color:#555;
}
.head{
    font-size: 36px;
    color: whitesmoke;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 100px;
}

#slider{
    width:60%;
    margin:0 auto;
    position:relative;
    overflow:hidden;
    box-shadow:2px 5px 10px rgba(0,0,0,0.4);
    margin-bottom: 30px;
  }
  
  .slide{
    width:100%;
    
    display:none;
    animation-name:fade;
    animation-duration:1s;
    
  }
  img{
   width:100%; 
  }
  .subheading{
      text-align: center;
      margin-top: -1px;
      background-color: none;
  }
  @keyframes fade{
    from{opacity:0.5;}
    to{opacity:1;}
  }
  
  .controls{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    font-size:1.5em;
    padding:15px 10px;
    border-radius:5px;
    
  }
  
  .controls:hover{
    background:white;
    transition:0.3s;
  }
  
  .controls:active{
    color:grey;
  }
  
  #left-arrow{
    left:10px;
  }
  
  #right-arrow{
    right:10px;
  }
  
  #dots-con{
    
    text-align:center;
  }
  .dot{
    display:inline-block;
    background:grey;
    padding:8px;
    border-radius:50%;
    margin:10px 5px;
  }
  
  .active{
    background:crimson;
  }
  
  @media (max-width:576px){
    #slider{width:100%;
    
    }
    
    .controls{
      font-size:1em;
    }
    
    #dots-con{
      display:none;
    }
  }

  .login-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .registerhere{
    background-image: url(https://www.planetbuddies.com/media/wysiwyg/PLANET-BUDDIES/Penguin.gif);
    height: 50vh;
    padding-top: 70px;
  }
  #form1{
    margin-left: 500px;
    width: 560px;
     }
  .mobilesize{
    color: black;
    width: 100%;
    min-height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    padding:  50px;
  }
  .SingInBox{
    width: 600px;
    position: absolute;
  }
  .registerhere h3{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 32px;
  }
  #btn a:hover{
    text-decoration: none;
  }
  #btn{
    margin-left: 100px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 14pt;
  }
  
  .toptitale{
    font-size: 34pt;
    color: darkgreen;
    margin-top: -30px;
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 0px;
    font-weight: 500;
    line-height: 2;
  }
  .toptitale label{
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    padding-top: 0px;
    user-select: none;
  }
  .pointtop{
    display: none;
    width: 0px;
    height: 0px;
    border-bottom: 25px solid #fff;
    border-left: 20px solid transparent; 
    border-right: 20px solid transparent;
    margin-left: 50px;
  }
  
  .toptitale label[for="SignUp"]:hover, {
    text-shadow: inside 0px 3px 8px #333;
    color: #fff
  }

  #SingIn:checked ~ .pointtop {
    display: block;
    position: absolute;
    left: 80px;
    top: 45px;
    animation: point1 0.5s;
  }
 
  @keyframes point1{
    0%{top: 55px; opacity: 0}
    75%{opacity: 0}
    100%{left: 80px; opacity: 1}
  }
  
  
  @keyframes show1{
    0%{ opacity: 0; margin-top: 25px;}
    50%{ opacity: 0.5}
    100%{opacity: 1}
  }
  
  

  ul {
    list-style: none;
    padding-left: 0;
  }
  footer {
    background-color: #555;
    color: #bbb;
    line-height: 1.5;
  }
  footer a {
    text-decoration: none;
    color: #eee;
  }
  a:hover {
    text-decoration: underline;
  }
  .ft-title {
    color: #fff;
    font-family: "Merriweather", serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
  }
  /* Sticks footer to bottom */
  

  /* Footer main */
  .ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
  }
  @media only screen and (min-width: 29.8125rem /* 477px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  @media only screen and (min-width: 77.5rem /* 1240px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  .ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
  }
  
  /* Footer main | Newsletter form */
  form {
    display: flex;
    flex-wrap: wrap;
  }
  input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
  }
  input[type="submit"] {
    background-color: #00d188;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
  }
  /* Footer social */
  .ft-social {
    padding: 0 1.875rem 1.25rem;
  }
  .ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
  }
  .ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
  }
  /* Footer legal */
  .ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: #333;
  }
  .ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
  }
  /* one before the last child */
  .ft-legal-list li:nth-last-child(2) {
      flex: 1;
  }

::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	animation: gradient 15s ease infinite;
    border-radius: 100vw;
    margin-block: 7px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(107, 72, 202);
    border-radius: 100vw;
    border: solid 2px hsl(120 5% 0% /1);
  }

  /* LOADER */
#loader {
  border: 1.6rem solid white;
  border-radius: 50%;
  border-top: 1.6rem solid #56a5eb;
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
  