body{
  margin: 0;
  padding:0;
  color: cornsilk;
}

/* test window*/
.testwindow{
width: 90vw;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
max-width: 80rem;
font-size: 65%;
}
.container1{
margin-top: 100px;
margin-left: 150px;
align-self: center;
background-color: blanchedalmond;
width: 80vw;
height: 85vh;
color: black;
box-shadow: 0 0.4rem 1.4rem 0 black;
margin-bottom: 100px;
}
#game{
  padding-left:20px;
  padding-right:20px;

}

#hud {
  display: flex;
  justify-content: space-between;
  padding-right:20px;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  font-size: 3rem;
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 2rem;
  border: 0.3rem solid #56a5eb;
  margin-top: 1rem;
}

#progressBarFull {
  height: 2rem;
  background-color: #56a5eb;
  width: 0%;
}


.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}


.choice-container {
  display: flex;
  width: 90%;
  font-size: 14px;
  height: 60%;
  border: 0.1rem solid rgb(86, 165, 235, 0.25);
  background-color: white;
  
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1rem 0.5rem;
  background-color: #56a5eb;
  color: white;
}

.choice-text {
  padding: 0.5rem;
  width: 80%;
}

.correct {
  background-color: #28a745;
}

.incorrect {
  background-color: #dc3545;
}

/* LOADER */
#loader {
border: 1.6rem solid white;
border-radius: 50%;
border-top: 1.6rem solid #56a5eb;
width: 9rem;
height: 9rem;
animation: spin 2s linear infinite;
}

@keyframes spin {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
}